# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
web/accounts2/dist
web/accounts2/tmp

# dependencies
node_modules/
bower_components/

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# misc
web/accounts2/.sass-cache
web/accounts2/connect.lock
web/accounts2/coverage/*
web/accounts2/libpeerconnection.log
npm-debug.log
testem.log
web/accounts2/typings

# e2e
web/accounts2/e2e/*.js
web/accounts2/e2e/*.map

#System Files
.DS_Store
Thumbs.db
