.account-list
  tr
    td.buttons
      opacity 0
      // display none
      transition opacity 500ms
      span
        margin-left 5px
        cursor pointer
  tr:hover
    td.buttons
      display block
      opacity 1
