<table class="account-list col-sm-12 table table-hover">
  <thead>
    <th>Email</th>
    <th>公司名称</th>
    <th>企业编码</th>
    <th>联系人手机</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let account of accounts">
      <td>{{account.email}}</td>
      <td>{{account.companyName}}</td>
      <td>{{account.companyId}}</td>
      <td>{{account.mobile}}</td>
      <td class="buttons">
        <span class="glyphicon glyphicon-trash" (click)="deleteAccount(account)"></span>
        <span class="glyphicon glyphicon-cog" (click)="editAccount(account)"></span>
      </td>
    </tr>
  </tbody>
</table>
<pagination [totalItems]="totalItems"
            [itemsPerPage]="pageSize"
            [(ngModel)]="currentPage"
            (pageChanged)="pageChanged($event)">
</pagination>
