<div class="row search-form">
  <form class="form－horizontal">
    <div class="form-group">
      <label for="criteria" class="sr-only control-label">搜索</label>
      <div class="col-sm-4">
        <input #term type="text" id="criteria" class="form-control" (keyup)="queryList.query(term.value)" [(ngModel)]="criteria" placeholder="登录名／手机号码／企业编码">
      </div>
        <button class="btn btn-default" (click)="queryList.query(term.value)" >
          <span class="glyphicon glyphicon-search"></span>
        </button>
      <button class="btn btn-success pull-right" (click)="openCreateWindow()">
        <span class="glyphicon glyphicon-plus">{{creatingAccount? '完成' :'创建制卡系统临时账号'}}</span>
      </button>
    </div>
  </form>
</div>

<div class="row" [collapse]="!creatingAccount">
  <div class="well well-lg">
    <app-create-account></app-create-account>
  </div>
</div>

<div class="row" [collapse]="creatingAccount">
  <app-browsing-list *ngIf="criteria == ''" ></app-browsing-list>
  <app-query-list [collapse]="criteria == ''" #queryList></app-query-list>
</div>
